@model SupremeLeagueManager.Models.Admin.AdminVM

@{
    /**/

    ViewBag.Title = "Admin";
}

<link href="~/Content/CSS/Admin/Admin.css" rel="stylesheet" />

@*Slider*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>

<div id="adminView">
    <div class="row" style="margin-top: 1em;">
        <div class="col-xl-10 offset-xl-1">
            <div class="d-flex justify-content-start">
                <div class="p-1">
                    <button type="button" class="btn btn-outline-info" v-on:click="ChangeTab(1)" style="width: 10em;"> Teams </button>
                </div>
                <div class="p-1">
                    <button type="button" class="btn btn-outline-info" v-on:click="ChangeTab(2)" style="width: 10em;"> Team players </button>
                </div>
                <div class="p-1">
                    <a class="btn btn-outline-info" href="@Url.Action("TeamTest", "TeamTest")" style="width: 10em;">Team Test &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    @*Teams*@
    <div v-if="IdTab == 1">

    </div>
    @*Team players*@
    <div v-else-if="IdTab == 2">
        <div class="row" style="margin-top: 1em;">
            <div class="col-xl-1">

            </div>
            <div class="col-xl-9">
                <div v-if="IdDictTeams != 0" class="d-flex justify-content-end">
                    <div class="p-1">
                        <button class="btn btn-outline-primary" v-on:click="ModalShow()" style="width: 14em; font-size: 14px;"> New player </button>
                    </div>
                    <div class="p-1">
                        <button class="btn btn-outline-danger" v-on:click="SaveTeamSetting()" style="width: 14em; font-size: 14px;"> Save team </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">

            </div>
        </div>

        <div class="row">
            @*Menu --> Left side*@
            <div class="col-xl-1">
                <div class="d-flex justify-content-center" style="padding-left: 3em;">
                    <div class="p-1">
                        <h5><i> Team: </i></h5>
                    </div>
                </div>
                <div v-for="i in dictTeams">
                    <div class="d-flex justify-content-center" style="padding-left: 3em;">
                        <div class="p-1">
                            <button type="button" class="btn btn-outline-info btn-sm" v-on:click="ChangeTeam(i.Id)" style="width: 9em; font-size: 12px; padding: 4px 0px 4px 0px;"> {{i.Description}} </button>
                        </div>
                    </div>
                </div>

            </div>

            @*Team players*@
            <div class="col-xl-9">

                <div v-if="IdDictTeams != 0" style="font-size: 14px;">
                    <div class="d-flex justify-content-start">
                        <div class="p-1 tblXlCell">
                            <b>First name</b>
                        </div>
                        <div class="p-1 tblXlCell">
                            <b>Last name</b>
                        </div>
                        <div class="p-1 tblXlCell">
                            <b>Country</b>
                        </div>

                        <div class="p-1 tblCell">
                            <b>Pos</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>Lp</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>Age</b>
                        </div>

                        <div class="p-1 tblCell">
                            <b>LFS</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>RFS</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>GK</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>DEF</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>MID</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>ATT</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>DIV</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>HAN</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>TAC</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>COV</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>LPA</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>SPA</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>SAC</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>SPD</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>ACC</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>REF</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>HEA</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>SPW</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>TEC</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>END</b>
                        </div>
                        <div class="p-1 tblCell">
                            <b>STA</b>
                        </div>
                        <div class="p-1 tblCell">
                            <i>  </i>
                        </div>

                    </div>

                    <div v-for="p in teamPlayers" class="d-flex justify-content-lg-start">
                        <div class="p-1 tblXlCell">
                            <input type="text" v-model="p.FirstName" style="font-size: 11px; width: 7em;" />
                        </div>
                        <div class="p-1 tblXlCell">
                            <input type="text" v-model="p.LastName" style="font-size: 11px; width: 7em;" />
                        </div>
                        <div class="p-1 tblXlCell">
                            <i> {{p.CountryCode}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            @*<i> {{p.PositionShortName}} </i>*@

                            <select class="" v-model="p.IdDictPositions" style="font-size: 11px; width: 4em;">
                                <option v-for="(value, key) in dictPositionsShortName" :value="value.Id" :key="key"> {{value.Description}} </option>
                            </select>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.Lp}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.Age}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.LeftFootSkills}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.RightFootSkills}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.GoalKeeper}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.Defence}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.Midfield}} </i>
                        </div>
                        <div class="p-1 tblCell">
                            <i> {{p.Attack}} </i>
                        </div>

                        <div class="p-1 tblCell">
                            <i>{{p.Diving}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Handling}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Tackling}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Covering}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.LongPassAccuracy}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.ShortPassAccuracy}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.ShotAccuracy}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Speed}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Acceleration}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Reflex}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Heading}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.ShotPower}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Technique}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Endurance}}</i>
                        </div>
                        <div class="p-1 tblCell">
                            <i>{{p.Stamina}}</i>
                        </div>

                        <div class="p-1 tblBtn">
                            <button class="btn btn-outline-info btn-sm" v-on:click="ChoosPlayer(p.IdDictTeamsPlayers)"><i class="fa fa-edit"></i></button>
                        </div>

                    </div>

                </div>

            </div>

            @*Player parameters*@
            <div v-if="SliderObject.IdDictTeamsPlayers != undefined" class="col-xl-2">
                <div class="d-flex justify-content-start" style="padding-left: 4em; font-size: 12px;">
                    <div class="p-1">
                        <h5>Parameters:</h5>
                    </div>
                </div>

                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>LFS</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.LeftFootSkills" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>RFS</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.RightFootSkills" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>GK</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.GoalKeeper" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>DEF</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Defence" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>MID</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Midfield" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>ATT</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Attack" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>DIV</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Diving" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>HAN</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Handling" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>TAC</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Tackling" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>COV</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Covering" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>LPA</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.LongPassAccuracy" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>SPA</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.ShortPassAccuracy" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>SAC</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.ShotAccuracy" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>SPD</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Speed" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>ACC</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Acceleration" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>REF</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Reflex" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>HEA</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Heading" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>SPW</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.ShotPower" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>TEC</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Technique" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>END</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Endurance" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="p-1" style="width: 3em;">
                        <b>STA</b>
                    </div>
                    <div class="p-1" style="width: 10em;">
                        <vue-slider ref="slider" v-model="SliderObject.Stamina" v-bind="SliderOption" style="padding-top: 0.6em; width: 95%;"></vue-slider>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Modal - Add new player -->
    <div id="newPlayerModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" style="font-weight: bold;"><i> Add new user </i></p>
                </div>
                <div class="modal-body" style="font-size: 12px;">
                    @*<div class="row">
                        <div class="col-xl-6">*@
                    <div class="d-flex justify-content-start">
                        <div class="p-1" style="width: 9em;">
                            <i> Country: </i>
                        </div>
                        <div class="p-1">
                            <select class="" v-model="teamPlayer.IdDictCountries" v-on:change="ChangeCountry()">
                                <option v-for="(value, key) in dictCountries" :value="value.Id" :key="key"> {{value.Description}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="p-1" style="width: 9em;">
                            <i> Position: </i>
                        </div>
                        <div class="p-1">
                            <select class="" v-model="teamPlayer.IdDictPositions" v-on:change="ChangePosition()">
                                <option v-for="(value, key) in dictPositions" :value="value.Id" :key="key"> {{value.Description}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="p-1" style="width: 9em;">
                            <i> Birth date: </i>
                        </div>
                        <div class="p-1">
                            <input type="date" v-model="teamPlayer.BirthDate" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="p-1" style="width: 9em;">
                            <i> First name: </i>
                        </div>
                        <div class="p-1">
                            <input type="text" v-model="teamPlayer.FirstName" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="p-1" style="width: 9em;">
                            <i> Last name: </i>
                        </div>
                        <div class="p-1">
                            <input type="text" v-model="teamPlayer.LastName" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer align-content-center">
                    <button class="btn btn-outline-danger" v-on:click="ModalClose()" style="width: 6em;"> Close </button>
                    <button class="btn btn-outline-success" v-on:click="ModalHide()" style="width: 6em;"> Save </button>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    var vueAdmin = new Vue({
        el: '#adminView',

        data: {
            IdTab: 0,
            IdDictTeams: 0,

            dictTeams: [],
            dictCountries: [],
            dictPositions: [],
            dictPositionsShortName: [],

            teamPlayers: [],

            teamPlayer: {},

            IdCountry: {},
            IdPosition: {},

            SliderOption: {
                dotSize: 12,
                width: 'auto',
                height: 4,
                contained: false,
                direction: 'ltr',
                data: null,
                min: 0,
                max: 100,
                interval: 1,
                disabled: false,
                clickable: true,
                duration: 0.5,
                adsorb: false,
                lazy: false,
                tooltip: 'active',
                tooltipPlacement: 'top',
                tooltipFormatter: void 0,
                useKeyboard: false,
                keydownHook: null,
                dragOnClick: false,
                enableCross: true,
                fixed: false,
                minRange: void 0,
                maxRange: void 0,
                order: true,
                marks: false,
                dotOptions: void 0,
                process: true,
                dotStyle: void 0,
                railStyle: void 0,
                processStyle: void 0,
                tooltipStyle: void 0,
                stepStyle: void 0,
                stepActiveStyle: void 0,
                labelStyle: void 0,
                labelActiveStyle: void 0,
            },

            value: 10,

            SliderObject: {}
        },

        components: {
            'vueSlider': window['vue-slider-component'],
        },

        methods: {
            ModalShow: function () {
                $('#newPlayerModal').slideDown(600);
            },

            ModalHide: function () {
                $.ajax({
                    url: "@Url.Action("AddPlayer", "Admin")",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ teamPlayer: vueAdmin.teamPlayer }),

                    success: function (data) {
                        if (data == 0) {
                            alert("Error !");
                        }
                        else if (data == 1) {
                            vueAdmin.ChangeTeam(vueAdmin.IdDictTeams);
                            vueAdmin.ClearTeamPlayer();
                            $('#newPlayerModal').hide(300);
                        }
                        else {
                            $('#newPlayerModal').hide(300);
                        }
                    },

                    error: function () {
                        alert("Error, try again later !");
                    }
                })

                $('#newPlayerModal').hide(300);
            },

            ModalClose: function () {
                vueAdmin.ClearTeamPlayer();
                $('#newPlayerModal').hide(300);
            },

            ClearTeamPlayer: function () {
                vueAdmin.teamPlayer.IdDictCountries = null;
                vueAdmin.teamPlayer.IdDictPositions = null;
                vueAdmin.teamPlayer.BirthDate = null;
                vueAdmin.teamPlayer.FirstName = null;
                vueAdmin.teamPlayer.LastName = null
            },

            ChangeTab: function (IdTab) {
                vueAdmin.IdTab = IdTab;
            },

            ChangeTeam: function (IdDictTeams) {
                vueAdmin.IdDictTeams = IdDictTeams;
                vueAdmin.teamPlayer.IdDictTeams = IdDictTeams;

                $.ajax({
                    url: "@Url.Action("GetTeamPlayers", "Admin")",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ IdDictTeams: IdDictTeams }),

                    success: function (data) {
                        vueAdmin.SliderObject = {};
                        vueAdmin.teamPlayers = [];
                        vueAdmin.teamPlayers = data.slice();
                    },

                    error: function () {
                        alert("Error, try again later !");
                    }
                })
            },

            ChoosPlayer: function (IdDictTeamsPlayers) {
                vueAdmin.SliderObject = vueAdmin.teamPlayers[vueAdmin.teamPlayers.findIndex(a => a.IdDictTeamsPlayers == IdDictTeamsPlayers)];
            },

            SaveTeamSetting: function () {
                $.ajax({
                    url: "@Url.Action("SaveTeamSetting", "Admin")",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ teamsPlayers: vueAdmin.teamPlayers }),

                    success: function (data) {
                        if (data == 0) {
                            alert("Something went wrong :-( ");
                        }
                        else if (data == 1) {
                            alert("Done ");
                        }
                        else {
                            alert("Something went totaly wrong :-( ");
                        }
                    },

                    error: function () {
                        alert("Error, try again later !");
                    }
                })
            },

            ChangeCountry: function () {

            },

            ChangePosition: function () {

            },

        },

        watch: {

        },

        computed: {

        },

        beforeCreate: function () {

        },

        created: function () {

        },

        beforeMount() {

        },

        mounted() {
            this.dictTeams = @Html.Raw(Json.Encode(Model.dictTeams));
            this.teamPlayer = @Html.Raw(Json.Encode(Model.teamPlayer));

            this.dictCountries = @Html.Raw(Json.Encode(Model.dictCountries));
            this.dictPositions = @Html.Raw(Json.Encode(Model.dictPositions));
            this.dictPositionsShortName = @Html.Raw(Json.Encode(Model.dictPositionsShortName))

            $("body").css("overflow", "hidden");
            $("body").css("overflow-x", "hidden");
            $("body").css("overflow-y", "hidden");
        },

        update() {

        }
    })
</script>

