
<link href="~/Content/CSS/Home.css" rel="stylesheet" />

<div id="homeView" class="site-settings" style="display: none">

    <div id="home" class="mainPage">
        <h1 style="display: none"> Supreme League Managers </h1>
        <h4 style="display:none">
            Online simulator of the football league composed of the best international teams
        </h4>
        <nav>
            <a href="">CREDITS</a>
            <a class="loadingModal" href="@Url.Action("FriendlyMatch", "FriendlyMatch")">FRIENDLY GAME</a>


            @if (Session["IdUser"] != null)
            {
                <a class="loadingModal" href="">ONLINE LEAGUE</a>
                <a href="#" v-on:click="Options()">OPTIONS</a>
                <a href="#" v-on:click="SinglePlayer()">{{ SingleStatus() }}</a>
                <a href="@Url.Action("Admin", "Admin")">ADMINISTATOR</a>
                <a href="@Url.Action("TeamManagement", "TeamManagement")">MENAGEMENT</a>
            }
        </nav>
    </div>

    <div class="container" style="display:none">
        <div>
            <div class="d-flex justify-content-center" style="width: 33%; float: left">
                <div class="p-1" style="border: solid 2px; border-radius: 5px;">
                    <img src="~/Content/Resources/Gifs/liverpool.gif" width="240" height="320" />
                </div>
            </div>
            <div class="d-flex justify-content-center" style="width: 33%; float:left">
                <div class="p-1" style="border: solid 2px; border-radius: 5px;">
                    <img src="~/Content/Resources/Gifs/real.gif" width="240" height="320" />
                </div>
            </div>
            <div class="d-flex justify-content-center" style="width: 33%">
                <div class="p-1" style="border: solid 2px; border-radius: 5px;">
                    <img src="~/Content/Resources/Gifs/barcelona.gif" width="240" height="320" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="singlePlayer" style="display: none">
    @Html.Partial("_SinglePlayer")
</div>

<div id="options" style="display: none">
    @Html.Partial("_Options")
</div>

<div id="music_list">
    <audio controls autoplay hidden></audio>
</div>


<script src="~/Scripts/GlobalFunctions/MusicPlayer.js"></script>
<script type="text/javascript">

            var vueHome = new Vue({
                el: '#homeView',
                data: {
                    Teams: [],
                    Provider: {},
                    GameStatus: '',
                    Status: -1,

                },
                methods: {
                    SingleStatus() {
                        if (this.Status == 0) {
                            return this.GameStatus = 'SINGLE PLAYER';
                        } else {
                            return this.GameStatus = 'CONTINUE SINGLE PLAYER';
                        }
                    },

                    EmblemName: function (name, city) {
                        var fulName = name + city;
                        fulName = fulName.replace(" ", "");
                        return fulName = '/Content/Resources/Emblems/' + fulName + '.png';
                    },

                    FullName: function (name, city) {
                        var fulName = name + ' ' + city;
                        return fulName;
                    },

                    Music: function () {
                        var path = "/Content/Resources/Music/";
                        var player = document.querySelector("#music_list audio");
                        songShuffle(player, path, 10);
                    },

                    ScrollOff: function () {
                        $("body").css("overflow", "hidden");
                        $("body").css("overflow-x", "hidden");
                        $("body").css("overflow-y", "hidden");
                    },

                    Options: function () {
                        $('#homeView').hide();
                        $("#options").show();
                    },

                    SinglePlayer: function () {

                        this.Provider.Status = 1;

                        $.ajax({
                            url: "SetSinglePlayer/Home",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({ provider: this.Provider }),
                            cache: false,
                            success: function (data) {
                                if (data.Exsist == 0) {
                                    $('#homeView').hide();
                                    $("#singlePlayer").show();
                                } else {
                                    window.location = '/SinglePlayer/SinglePlayer'
                                }
                            },
                            error: function (error) {
                                console.log(error.message);
                            }
                        });
                    },
                },
                created: function () {
                    this.Teams =  @Html.Raw(Json.Encode(Model.Teams));
                    this.Status =  @Html.Raw(Json.Encode(Model.Status));
                   
                },
                mounted: function () {
                    this.Music();
                    this.ScrollOff();
                   
                    $('#homeView').show();
                },
            })
</script>





