
<table class="table table-dark table-striped table-sm ml-2" style="width:10%; float:left;  background: rgba(0,0,0, .3)">
    <thead>
        <tr>
            <th colspan="2"><img style="visibility:hidden" v-bind:src="TeamEmblem()" width="50" height="50" /></th>
        </tr>
    </thead>
    <tbody style="font-size:13px">
        <tr>
            <td>Goalkeeper</td>
            <td class="text-center">{{ Team.GoalKeeper }}</td>
        </tr>
        <tr>
            <td>Defence</td>
            <td class="text-center">{{ Team.Defence }}</td>
        </tr>
        <tr>
            <td>Midfield</td>
            <td class="text-center">{{ Team.Midfield }}</td>
        </tr>
        <tr>
            <td>Attack</td>
            <td class="text-center">{{ Team.Attack}}</td>
        </tr>
        <tr>
            <td>Speed</td>
            <td class="text-center">{{ Team.Speed }}</td>
        </tr>
        <tr>
            <td>Technique</td>
            <td class="text-center">{{ Team.Technique }}</td>
        </tr>
        <tr>
            <td>Overall</td>
            <td class="text-center text-danger"> {{ Team.Overall }}</td>
        </tr>
    </tbody>
</table>

<div class="pane ml-2" style="width:10%; float:left; display: none">
    <div class="teamSkill mt-3">
        <div class="teamSkillLeft">Goalkeeper</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.GoalKeeper))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Defence</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Defence))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Midfield</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Midfield))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Atack</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Attack))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Speed</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Speed))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Technique</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Technicque))</span></div>
    </div>
    <div class="teamSkill mb-2">
        <div class="teamSkillLeft">Overall</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Overall))</span></div>
    </div>
</div>
