
<table class="table table-bordered table-striped table-sm ml-2" style="width:10%; float:left; display:none;">
    <thead>
        <tr>
            <th colspan="2"><img style="visibility:hidden" src="~/Content/Resources/Emblems/@Model.Team.GetEmblemsName()" width="50" height="50" /></th>
        </tr>
    </thead>
    <tbody style="font-size:13px">
        <tr>
            <td>Goalkeeper</td>
            <td class="text-center">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.GoalKeeper))</td>
        </tr>
        <tr>
            <td>Defence</td>
            <td class="text-center">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Defence))</td>
        </tr>
        <tr>
            <td>Midfield</td>
            <td class="text-center">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Midfield))</td>
        </tr>
        <tr>
            <td>Attack</td>
            <td class="text-center">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Attack))</td>
        </tr>
        <tr>
            <td>Speed</td>
            <td class="text-center">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Speed))</td>
        </tr>
        <tr>
            <td>Technique</td>
            <td class="text-center">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Technicque))</td>
        </tr>
        <tr>
            <td>Overall</td>
            <td class="text-center text-danger">@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Overall))</td>
        </tr>
    </tbody>
</table>

<div class="pane ml-2" style="width:10%; float:left">
    <div class="teamSkill mt-3">
        <div class="teamSkillLeft">Goalkeeper</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.GoalKeeper))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Defence</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Defence))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Midfield</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Midfield))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Atack</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Attack))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Speed</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Speed))</span></div>
    </div>
    <div class="teamSkill">
        <div class="teamSkillLeft">Technique</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Technicque))</span></div>
    </div>
    <div class="teamSkill mb-2">
        <div class="teamSkillLeft">Overall</div>
        <div class="teamSkillRight"><span>@Html.Raw(String.Format("{0:##}", @Model.Team.TeamSkillsModel.Overall))</span></div>
    </div>
</div>
