@model SupremeLeagueManager.Models.TeamTest.TeamManagementVM


<div class="col-md-12 mt-3" id="managementView" >
    <div class="text-center">
        @*@for (int i = 0; i < Model.Teams.Count(); i++)
        {
            <button class="btn btn-outline-info" id="@Model.Teams.ElementAt(i).TeamId" onclick="showTeamSquad(@Model.Teams.ElementAt(i).TeamId)" title="@Model.Teams.ElementAt(i).GetFullName()">
                <img src="~/Content/Resources/Emblems/@Model.Teams.ElementAt(i).GetEmblemsName()" width="50" height="50" alt="Emblem" />
            </button>
        }*@
        <div>
            <button v-for="team in dictTeams" v-bind:title="fullName(team.Name, team.City)" class="btn btn-outline-info mr-1" v-on:click="ShowTeamSquad(team.TeamId)">
                <img v-bind:src="emblemName(team.Name, team.City)" width="50" height="50" alt="Emblem" />
            </button>
        </div>
    </div>
   

    <div class="row mt-lg-5 justify-content-center" id="stadium">
        <div class="text-center">
            <div>
                <img src="~/Content/Resources/Stadiums/bernabeu.png" width="800" height="600" />
            </div>
        </div>
    </div>

</div>

<div>
    <div id="teamManagement" style="display:none">
        @Html.Partial("_TeamManagement");
    </div>
</div>

<script type="text/javascript">

    var vueTeamManagement = new Vue({
        el: '#managementView',
        data: {
            dictTeams: [],
            Provider: {},
            src: '',
            fulname: ''
        },

        methods: {
            emblemName: function (name, city) {
               
                var fulname = name + city;
                fulname = fulname.replace(" ", "");
                return this.src = '/Content/Resources/Emblems/' + fulname + '.png';
            },

            fullName: function (name, city) {
                return this.fulname = name + ' ' + city;
            },

            ShowTeamSquad: function (teamId) {

                vueTeamManagement.Provider.TeamId = teamId;
                vueTeamManagement.Provider.Status = 1;

                $.ajax(
                    {
                        url: "_TeamManagement/TeamManagement",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ provider: vueTeamManagement.Provider }),
                        success: function () {

                        },
                        error: function () {
                            alert('Nieoczekiwany błąd');
                        }
                    })
                    .done(function (partialViewResult) {
                        $("#stadium").hide(300);
                        $("#teamManagement").show(300);
                        $("#teamManagement").html(partialViewResult);
                    });
            }
        },

        computed: {
          
        },

        mounted() {
            this.dictTeams =  @Html.Raw(Json.Encode(Model.Teams));
        }

    })

    var errorMessage = @Html.Raw(Json.Encode(Model.ErrorMessage));

    if (errorMessage != null) {
        alert(errorMessage);
    }

    function showTeamSquad(teamId) {

        var Provider = {};

        Provider.TeamId = teamId;
        Provider.Status = 1;

        $.ajax(
            {
                url: "_TeamManagement/TeamManagement",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ provider: Provider }),
                success: function () {

                },
                error: function () {
                    alert('Nieoczekiwany błąd');
                }
            })
            .done(function (partialViewResult) {
                $("#stadium").hide();
                $("#teamManagement").show();
                $("#teamManagement").html(partialViewResult);
            });
    }

</script>
