<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Supreme League Managers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*jQuery*@
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @*jQuery-ui*@
    <script src="~/Scripts/jquery-ui.js"></script>
    @*font-awesome*@
    <link href="~/Content/FontAwesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <script defer src="~/Content/FontAwesome/js/all.js"></script> <!--load all styles -->
    @*Vue*@
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- development version, includes helpful console warnings -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script><!-- production version, optimized for size and speed -->

    <script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>

    @*LoadingModal*@
    <link href="~/Content/LoadingModal/css/jquery.loadingModal.css" rel="stylesheet" />
    <script src="~/Content/LoadingModal/js/jquery.loadingModal.js"></script>

    @*CSS*@
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />
    <link href="~/Content/CSS/Global.css" rel="stylesheet" />

</head>

<body>

    @*Modal gif*@
    <div class="modal" id="loadingSpinerModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-fluid text-center">
                <div>
                    <img src="~/Content/Resources/Gifs/loading2.gif" width="200" height="200" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row navbar-main">
            <div class="d-flex d-flex justify-content-between" style="width: 100%; align-self: center;">
                <div class="p-2"> Supreme League Managers </div>
                <div class="p-2">
                    @if (Session["IdUser"] == null)
                    {
                        <button class="btn btn-sm btn-outline-light" type="button" data-toggle="tooltip" title="Sign In" onclick="location.href='@Url.Action("SignIn", "SignIn")'">
                            <i class="fas fa-sign-in-alt"></i>
                        </button>
                    }
                    else
                    {
                        <i style="margin-right: 1em;"> @Session["eMail"] </i>

                        <button class="btn btn-sm btn-outline-light" type="button" data-toggle="tooltip" title="Sign Out" onclick="location.href='@Url.Action("UserSignOut", "SignIn")'">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p style="padding-left: 1em;">&copy; 2020 - Supreme League Managers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    $('.loadingModal').click(function () {
        $('#loadingSpinerModal').modal('show');
    });
</script>
