@model SupremeLeagueManager.Models.TeamTest.TeamTestVM

<div class="col-md-3">
    <table class="table table-bordered table-striped table-sm" id="squadTable" style="float:left;">
        <thead>
            <tr>
                <th colspan="8" class="text-center">
                    <div style="display: inline-block; float:left"><img src="~/Content/Resources/Emblems/@Model.Team.GetEmblemsName()" width="50" height="50" /></div>
                    <div style="display: inline-block;"><div style="font-size:25px">@Model.Team.GetFullName()</div></div>
                    <div style="display: inline-block; float:right"><img src="~/Content/Resources/Emblems/@Model.Team.GetEmblemsName()" width="50" height="50" /></div>
                </th>
            </tr>
            <tr class="text-center">
                <th style="width: 40%">Name</th>
                <th style="width: 10%">Flag</th>
                <th style="width: 10%">Pos</th>
                <th style="width: 10%">Age</th>
                <th style="width: 10%">App</th>
                <th style="width: 10%">Gls</th>
                <th style="width: 10%">Skl</th>
                <th style="width: 10%">Dyn</th>
            </tr>
        </thead>
        <tbody id="squadBody">
            @for (int i = 0; i < Model.Team.Players.Count; i++)
            {
                <tr class="text-center" onmouseover="showPlayerSkills('@i')" style="vertical-align:middle;">
                    <td class="text-left">@Model.Team.Players.ElementAt(i).GetFullName()</td>
                    <td><img src="~/Content/Resources/Flags/@Model.Team.Players.ElementAt(i).GetNationalityFlag()" width="24" height="24" /></td>
                    <td>@Model.Team.Players.ElementAt(i).Position</td>
                    <td>@Model.Team.Players.ElementAt(i).Age</td>
                    <td></td>
                    <td></td>
                    <td> @Html.Raw(String.Format("{0:####}", @Model.Team.Players.ElementAt(i).GetAverageSkills()))</td>
                    <td> @Html.Raw(String.Format("{0:####}", @Model.Team.Players.ElementAt(i).GetAverageDynamicSkills(@i, @Model.Team.Formation)))</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

     var formation = @Html.Raw(Json.Encode(Model.Team.Formation));

    switch (formation) {
        case 1:
           formation442();
           break;
        case 2:
           formation433();
           break;
        case 3:
           formation451();
            break;
        case 4:
           formation352();
           break;
    }

    var row;
    $('#squadBody tr').on({

        'click': function () {
            $(this).css('background', 'rgba(200, 242, 201, 0.5)');
        },

        'mouseover': function () {
            console.log('on');
            row = $(this).css('background-color');
            $(this).css('background', 'rgba(200, 187, 201, 0.5)');
        },

        'mouseout': function () {
            console.log(row);
            $(this).css('background', row);
        }
    });


    function formation442() {
        $('#squadBody tr:nth-child(1)').css('background', 'rgba(235, 231, 40, 0.7)');
        for (var i = 2; i < 6; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(56, 158, 43, 0.7)');
        }
        for (var i = 6; i < 10; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(50, 85, 209, 0.7)');
        }
        for (var i = 10; i < 12; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(194, 6, 21, 0.7)');
        }
        $('#formationButtons button').removeClass('active')
        $('#442').addClass('active');
    }

    function formation433() {
        $('#squadBody tr:nth-child(1)').css('background', 'rgba(235, 231, 40, 0.7)');
        for (var i = 2; i < 6; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(56, 158, 43, 0.7)');
        }
        for (var i = 6; i < 9; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(50, 85, 209, 0.7)');
        }
        for (var i = 9; i < 12; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(194, 6, 21, 0.7)');
        }
        $('#formationButtons button').removeClass('active')
        $('#433').addClass('active');
    }

    function formation451() {
        $('#squadBody tr:nth-child(1)').css('background', 'rgba(235, 231, 40, 0.7)');
        for (var i = 2; i < 6; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(56, 158, 43, 0.7)');
        }
        for (var i = 6; i < 11; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(50, 85, 209, 0.7)');
        }
        for (var i = 11; i < 12; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(194, 6, 21, 0.7)');
        }
        $('#formationButtons button').removeClass('active')
        $('#451').addClass('active');
    }

    function formation352() {
        $('#squadBody tr:nth-child(1)').css('background', 'rgba(235, 231, 40, 0.7)');
        for (var i = 2; i < 5; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(56, 158, 43, 0.7)');
        }
        for (var i = 5; i < 10; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(50, 85, 209, 0.7)');
        }
        for (var i = 10; i < 12; i++) {
            $('#squadBody tr:nth-child(' + i + ')').css('background', 'rgba(194, 6, 21, 0.7)');
        }
        $('#formationButtons button').removeClass('active')
        $('#352').addClass('active');
    }

    function showPlayerSkills(id) {

        var players = @Html.Raw(Json.Encode(Model.Team.Players));

        var nationalityNum = players[id].Nationality;
        var country
        switch (nationalityNum) {
            case 10:
                country = "Argentina";
                break;
            case 20:
                country = "Belgium";
                break;
            case 30:
                country = "Brazil";
                break;
            case 107:
                country = "Colombia";
                break;
            case 39:
                country = "Croatia";
                break;
            case 61:
                country = "France";
                break;
            case 149:
                country = "Germany";
                break;
            case 190:
                country = "Serbia";
                break;
            case 82:
                country = "Spain";
                break;
            case 223:
                country = "Uruguay";
                break;
            case 250:
                country = "Wales";
                break;
        }

        $('#playerSkills').css("visibility", "visible");
        $('#nameForSkillsTable').text(players[id].Name);
        $('#surnameForSkillsTable').text(players[id].Surname);
        $('#positionForSkillsTable').text(players[id].Position);
        $('#ageForSkillsTable').text(players[id].Age);
        $('#flag').attr('src', '/Content/Resources/Flags/' + country + '.png');
        $('#goalkeeperSkillsTable').text(players[id].GoalKeeper);
        $('#defenceForSkillsTable').text(players[id].Defence);
        $('#midfieldForSkillsTable').text(players[id].Midfield);
        $('#attackForSkillsTable').text(players[id].Attack);
    }

</script>
