@model SupremeLeagueManager.Models.TeamTest.TeamTestVM

@if (!(@Model.Team.Name is null))
{
    <div class="mt-5">
        <div id="teamSquad">
            @Html.Partial("_TeamSquad")
        </div>

        <div id="_PlayerSkills">
            @Html.Partial("_PlayerSkills")
        </div>

        <div id="teamSkills">
            @Html.Partial("_TeamSkills")
        </div>

        <div class="btn-group ml-2" role="group" aria-label="Basic example" id="formationButtons">
            <button class="btn btn-info" id="442" onclick="formationChange(@Model.Team.TeamId, 1)">4-4-2</button>
            <button class="btn btn-info" id="433" onclick="formationChange(@Model.Team.TeamId, 2)">4-3-3</button>
            <button class="btn btn-info" id="451" onclick="formationChange(@Model.Team.TeamId, 3)">4-5-1</button>
            <button class="btn btn-info" id="352" onclick="formationChange(@Model.Team.TeamId, 4)">3-5-2</button>
        </div>

    </div>

}

<script type="text/javascript">
    function formationChange(teamId, formationId) {

        var Provider = {};

        Provider.TeamId = teamId;
        Provider.FormationId = formationId;

        $.ajax(
            {
                url: "_TeamSquad/TeamTest",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ provider: Provider }),
                success: function () {

                },
                error: function () {
                    alert('Nieoczekiwany błąd');
                }
            })
            .done(function (partialViewResult) {
                $("#teamSquad").html(partialViewResult);
            });

        $.ajax(
            {
                url: "_TeamSkills/TeamTest",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ provider: Provider }),
                success: function () {

                },
                error: function () {
                    alert('Nieoczekiwany błąd');
                }
            })
            .done(function (partialViewResult) {
                $("#teamSkills").html(partialViewResult);
            });
    }

</script>



 
