@model SupremeLeagueManager.Models.TeamTest.TeamTestVM

<div class="row mt-3 justify-content-center">
    <div class="col-md-10">
        <div class="text-center">
            @for (int i = 0; i < Model.Teams.Count(); i++)
            {
                <button id="@Model.Teams.ElementAt(i).TeamId" onclick="showTeamSquad(@Model.Teams.ElementAt(i).TeamId)" title="@Model.Teams.ElementAt(i).GetFullName()">
                    <img src="~/Content/Resources/Emblems/@Model.Teams.ElementAt(i).GetEmblemsName()" width="50" height="50" alt="Emblem" />
                </button>
            }
        </div>
    </div>
</div>

<div class="row m-lg-5 justify-content-center"  id="stadium">
    <div class="col-md-8 m-lg-4">
        <div class="text-center">
            <div>
                <img src="~/Content/Resources/Stadiums/bernabeu.jpg" width="800" height="600" />
            </div>
        </div>
    </div>
</div>

<div id="teamSquad" style="display:none">
    @Html.Partial("_TeamSquad");
</div>

<script type="text/javascript">

    var errorMessage =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ErrorMessage, Newtonsoft.Json.Formatting.Indented));

    if (errorMessage != null) {
        alert(errorMessage);
    }

    function showTeamSquad(teamId) {

        var Provider = {};

        Provider.TeamId = teamId;

        $.ajax(
            {
                url: "_TeamSquad/TeamTest",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ provider: Provider }),
                success: function () {

                },
                error: function () {
                    alert('Nieoczekiwany błąd');
                }
            })
            .done(function (partialViewResult) {
                $("#teamSquad").show();
                $("#stadium").hide();
                $("#teamSquad").html(partialViewResult);
            });
    }

</script>
