@model SupremeLeagueManager.Models.FriendlyMatch.FriendlyMatchVM

<link href="~/Content/CSS/TeamManagement.css" rel="stylesheet" />

<div id="friendlyMatchView">
    <div class="col-12 mt-0">
        <div id="friendlyMatch" class="row text-center">
            <div class="col">
                <h1>Friendly Match</h1>
            </div>
        </div>
        @*squad selection --------------------------------------------------*@
        <div>
            <div id="squadSelection" style="display: none;">
                @Html.Partial("_SquadSelection")
            </div>
        </div>

        @*team selection carousels -----------------------------------------*@
        <div id="teamSelection">
            @Html.Partial("_TeamSelection")
        </div>
        @*match arena ------------------------------------------------------*@
        <div id="matchArena" style="display: none;">
            @Html.Partial("_MatchArena")
        </div>
        @*menu buttons -----------------------------------------------------*@
        <div id="menuButtons" class="row text-center mt-5">
            <div class="col-3"></div>
            <div class="col">
                <div id="returnButton">@Html.ActionLink("Main Menu", "Home", "Home", null, new { @class = "btn btn-outline-info" })</div>
            </div>
            <div class="col">
                <div id="squadButton" class="btn btn-outline-info" v-on:click="ShowSquad()">Squad Selection</div>
            </div>
            <div class="col">
                <div id="selectTeam" class="btn btn-outline-info" v-on:click="SelectTeam()">Select Team</div>
            </div>
            <div class="col">
                <div id="playButton" class="btn btn-outline-info" v-on:click="PlayMatch()">Play Match</div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>



<script src="~/Scripts/GlobalFunctions/Skills.js"></script>
<script type="text/javascript">

        var vueFriendlyMatch = new Vue({
            el: '#friendlyMatchView',
            data: {
                Provider: {},
                HomeTeam: {},
                AwayTeam: {},
                HomeTeams: [],
                AwayTeams: [],
                HomeIndex: 0,
                AwayIndex: 0,

                Player: {},
                Selected: [],
                PlayerPhotoIndex: 0
            },

            methods: {

//---------------------------------------------------------------------

               UserTeamFullName: function () {
                    var fulname = this.HomeTeam.Name + this.HomeTeam.City;
                    fulname = fulname.replace(" ", "");
                    return fulname;
                },

                UserTeamEmblem: function () {
                    var fulname = this.HomeTeam.Name + this.HomeTeam.City;
                    fulname = fulname.replace(" ", "");
                    console.log(this.HomeTeam.Name);
                    return fulname = '/Content/Resources/Emblems/' + fulname + '.png';
                },

                NationalityFlag: function (index) {
                    var src = '/Content/Resources/Flags/' + this.HomeTeam.Players[index].CountryName + '.png';
                    return src;
                },

                ProgressBarColor: function (stamina) {

                    if (stamina >= 80) {
                        return 'progress-bar progress-bar-striped progress-bar-animated bg-success';
                    } else if (stamina < 80 && stamina >= 40) {
                        return 'progress-bar progress-bar-striped progress-bar-animated bg-warning';
                    } else if (stamina < 40) {
                        return 'progress-bar progress-bar-striped progress-bar-animated bg-danger';
                    }
                },

                ProgressText: function (stamina) {
                    if (stamina < 40) {
                        return '';
                    } else {
                        return stamina + '%';
                    }
                },

                HoverRow: function () {
                    $('#squadBody tr').hover(
                        function () {
                            this.beforeHover = $(this).css('background-color');
                            $(this).css('background', 'rgba(200, 187, 201, 0.3)');
                        },
                        function () {
                            $(this).css('background', this.beforeHover)

                        });
                },

                ShowPlayerSkills: function (index) {
                    this.Player = this.HomeTeam.Players[index];
                    this.PlayerPhotoIndex = index;

                },

                ChangePlayer: function (index) {

                    // if clicked the same player again remove from array
                    if (this.Selected.includes(index)) {
                        const arrayIndex = this.Selected.indexOf(index);
                        if (arrayIndex > -1) {
                            this.Selected.splice(arrayIndex, 1);
                            this.HomeTeam.Players[index].Selected = false
                        }
                    } else { // else add second player to swap
                        this.Selected.push(index);
                        this.HomeTeam.Players[index].Selected = true;
                    }
                    // if array contains 2 player swap them
                    if (this.Selected.length == 2) {

                        // players position in table squadTable of _TeamSqad.cshtml (the same value like field L.P of [SLM].[dbo].[dictTeamsPlayers] )
                        var playerOne = this.Selected.shift();
                        var playerTwo = this.Selected.shift();

                        // swap indexPosition L.P.
                        var indexPositionPlayerTmp = this.HomeTeam.Players[playerOne].IndexPosition
                        this.HomeTeam.Players[playerOne].IndexPosition = this.HomeTeam.Players[playerTwo].IndexPosition;
                        this.HomeTeam.Players[playerTwo].IndexPosition = indexPositionPlayerTmp;

                        // swap players position
                        var PlayerTmp = this.HomeTeam.Players[playerOne];
                        this.HomeTeam.Players[playerOne] = this.HomeTeam.Players[playerTwo];
                        this.HomeTeam.Players[playerTwo] = PlayerTmp;

                        // restore inputs checbox to unchecked
                        this.HomeTeam.Players[playerOne].Selected = false;
                        this.HomeTeam.Players[playerTwo].Selected = false;

                        //this.SetPlayerDynamicSkills();
                        //this.SetTeamSkills();
                        //this.SetPlayersAverageSkills();

                        // send changes to DB
                        //this.SwapPlayer(this.Team.Players[playerOne], this.Team.Players[playerTwo]);
                    }
                },

 //---------------------------------------------------------------------
                HomeTeamEmblem: function (index) {
                    var src = '/Content/Resources/Emblems/' + this.HomeTeams[index].Name + this.HomeTeams[index].City + '.png';
                    src = src.replace(" ", "");
                    return src;
                },

                AwayTeamEmblem: function (index) {
                    var src = '/Content/Resources/Emblems/' + this.HomeTeams[index].Name + this.HomeTeams[index].City + '.png';
                    src = src.replace(" ", "");
                    return src;
                },

                HomeNextTeam: function () {
                    if (this.HomeIndex < this.HomeTeams.length - 1) {
                        this.HomeIndex++;
                    } else {
                        this.HomeIndex = 0;
                    }
                    this.HomeTeam = this.HomeTeams[this.HomeIndex];
                    TeamSkills(this.HomeTeam);
                    console.log(this.HomeTeam.Defence);
                },

                HomePreviousTeam: function () {
                    this.HomeIndex--;
                    if (this.HomeIndex == -1) {
                        this.HomeIndex = 17;
                    }
                    this.HomeTeam = this.HomeTeams[this.HomeIndex];
                    TeamSkills(this.HomeTeam);
                    console.log(this.HomeIndex);
                },

                AwayNextTeam: function () {
                    if (this.AwayIndex < this.AwayTeams.length - 1) {
                        this.AwayIndex++;
                    } else {
                        this.AwayIndex = 0;
                    }
                    this.AwayTeam = this.AwayTeams[this.AwayIndex];
                    TeamSkills(this.AwayTeam);
                    console.log(this.AwayIndex + 'a');
                },

                AwayPreviousTeam: function () {
                    this.AwayIndex--;
                    if (this.AwayIndex == -1) {
                        this.AwayIndex = 17;
                    }
                    this.AwayTeam = this.AwayTeams[this.AwayIndex];
                    TeamSkills(this.AwayTeam);
                    console.log(this.AwayIndex + 'a');
                },

                GetHomeTeamId: function (id) {
                    this.HomeTeamId = id;
                },

                GetAwayTeamId: function (id) {
                    this.AwayTeamId = id;
                },

                DefaultTeams: function () {
                    this.HomeTeam = this.HomeTeams[0];
                    this.AwayTeam = this.AwayTeams[0];

                    TeamSkills(this.HomeTeam);
                    TeamSkills(this.AwayTeam);
                },

                SelectTeam: function () {
                    $("#teamSelection").show(300);
                    $("#matchArena").hide(300);
                    $("#squadSelection").hide(300);
                },

                ShowSquad: function () {
                    this.Provider.HomeTeam = this.HomeTeam;
                    this.Provider.AwayTeam = this.AwayTeam;

                    $('#teamSelection').hide(300);
                    $("#matchArena").hide(300);
                    $("#squadSelection").show(300);

                    //$.ajax(
                    //    {
                    //        url: "_SquadSelection/FriendlyMatch",
                    //        type: "POST",
                    //        contentType: "application/json",
                    //        data: JSON.stringify({ provider: this.Provider }),
                    //        success: function (data) {
                    //            if (data != null) {

                    //            } else {
                    //                alert(data.ErrorMessage)
                    //            }
                    //        },
                    //        error: function () {
                    //            alert('Nieoczekiwany błąd');
                    //        }
                    //    })
                        //.done(function (partialViewResult) {
                        //    $('#teamSelection').hide(300);
                        //    $("#matchArena").hide(300);
                        //    $("#squadSelection").show(300);
                        //    $("#squadSelection").html(partialViewResult);
                        //});
                },

                PlayMatch: function () {
                    //alert('H: ' + this.HomeTeamId + '-' + 'A: ' + this.AwayTeamId);
                    this.Provider.HomeTeam = this.HomeTeam;
                    this.Provider.AwayTeam = this.AwayTeam;

                    $("#teamSelection").hide(300);
                    $("#squadSelection").hide(300);
                    $("#matchArena").show(300);

                    $.ajax(
                        {
                            url: "_MatchArena/FriendlyMatch",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({ provider: this.Provider }),
                            success: function (data) {
                                if (data != null) {

                                } else {
                                    alert(data.ErrorMessage)
                                }
                            },
                            error: function () {
                                alert('Nieoczekiwany błąd');
                            }
                        });
                },

                ScrollOff: function () {
                    $("body").css("overflow", "hidden");
                    $("body").css("overflow-x", "hidden");
                    $("body").css("overflow-y", "hidden");
                }
            },

            created: function () {
                this.HomeTeams = @Html.Raw(Json.Encode(Model.Teams));
                this.AwayTeams = @Html.Raw(Json.Encode(Model.Teams));
                this.DefaultTeams();
            },

            mounted: function () {
                this.ScrollOff();
            }
        });

</script>
